@font-face {
    font-family: Quicksand;
    src: url(../../assets/fonts/Quicksand-Bold.otf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #282C34;
    color: #fff;
}

.app {
    font-size: 1.6rem;
}

.app-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: #20232A;
    box-shadow: 2px 2px 16px 4px rgba(0, 0, 0, .1) inset;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.app-title {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.app-form {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-label {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-right: .6rem;
}

.image-container {
    position: relative;
    background-color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, .1);
    padding: 60px 20px 40px;
}

.image-container__empty .image-list {
    background-image: url(../../assets/images/upload.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6rem;
}

.image-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    border: dashed 1px #ccc;
    overflow: scroll;
}

.image-list__horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
}

.image-list__vertical {
    flex-direction: column;
    flex-wrap: nowrap;
}

.image-list__horizontal_wrapped {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.image-list__vertical_wrapped {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.image-list__manage {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.image-item {
    margin: 0;
    padding: 0;
}

.image-list__manage .image-item {
    width: auto;
}

.image-cover {
    width: auto;
}

.image-cover:hover {
    background-color: #eee;
}

.image-list__manage .image-cover {
    float: left;
    width: 80px;
}

.image-name,
.image-remove,
.image-replace,
.image-upper,
.image-lower {
    float: right;
    width: 80px;
    display: none;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
    margin: 20px 0;
    cursor: pointer;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    z-index: 99;
    color: #6E6D8E;
    cursor: pointer;
}

.image-name {
    width: 160px;
    margin: 20px;
    cursor: default;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.image-replace {
    color: #298DC4;
}

.image-remove {
    color: #FC4B76;
}

.image-list__manage .image-name,
.image-list__manage .image-remove,
.image-list__manage .image-replace,
.image-list__manage .image-upper,
.image-list__manage .image-lower {
    display: block;
}

.image-manage, 
.image-clear {
    width: 120px;
    height: 48px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.image-clear {
    right: 0;
    color: #FC4B76;
}

.image-manage {
    left: 0;
    color: #298DC4;
}

.generate-button {
    width: 140px;
    height: 48px;
    line-height: 46px;
    background-color: #49D1B3;
    border: 0;
    outline: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    margin: 0 30px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
}
.generate-button:hover {
    background-color: #1E987D;
}

.upload-button {
    width: 160px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -80px;
    background-color: #2A4C80;
    border: none;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
    border-radius: 2px 2px 10px 10px;
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, .15); 
    cursor: pointer;
    outline: 0;
}
.upload-button:active {
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, .3); 
}

.sprite-download {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #66DBFB;
}

#input-padding,
#input-align {
    width: 200px;
    height: 36px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}
#input-padding {
    width: 80px;
    text-indent: 8px;
}

.sprite-style {
    margin-top: 20px;
}

.style-code {
    display: block;
    width: auto;
    padding: 30px;
    margin-top: 20px;
    max-height: 600px;
    color: #444;
    background: #eee;
    border-radius: 10px;
    word-wrap: normal;
    overflow: auto;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}