.hidden {
    display: none;
    opacity: 0;
}
.mr-s {
    margin-right: 10px;
}
.ml-m {
    margin-left: 20px;
}
.mr-l {
    margin-right: 30px;
}
.ml-l {
    margin-left: 30px;
}
.mt-l {
    margin-top: 30px;
}